body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    /* background-color: #333; */
    align-items: center;
    font-size: 18pt;
}

.titulo-header {
    /* background-color: #666; */
    margin-left: 20px;
    color: #D6000D;
    font-style: italic;
    font-weight: 700;
    flex: 1;
}

.ponto-codar {
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.ul-nav {
    /* background-color: #aaa; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 20px 20px 0px;
    margin-left: 40px;
    margin-right: 20px;
    font-weight: 400;
}

.ul-nav li {
    padding-left: 30px;
}

.button-red {
    background-color: #D6000D;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    font-size: 18pt;
    padding: 8px 55px 8px 55px;
    margin: 30px 20px 30px 0px;
    transition: .4s;
}

.button-red:hover {
    background-color: #e95050;
    transition: .4s;
}

.parte1 {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte1-textos {
    margin-left: 90px;
}

.parte1-title {
    margin: 0px;
    color: #D6000D;
    font-weight: 700;
    font-size: 44pt;
}

.parte2 {
    margin-top: 300px;
}

.parte2-texto-foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parte2-textos {}

.ul-parte2 {
    list-style-type: none;
    font-size: 20pt;
    margin-right: 200px;
}

.ul-parte2 li {
    white-space: nowrap;
    padding-top: 10px;
    display: flex;
    padding-left: 10px;
}

.icon-ok {
    padding-right: 15px;
}

.input-celular {
    padding: 8px 20px 8px 20px;
    border-style: none;
    background-color: #ddd;
    border-radius: 10px;
    font-size: 18pt;
    width: 240px;
}

.ligamos-para-voce {}